# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Python distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Test & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Output folders
Output_Folder/

# PDF folders
PDF/
PDF-2/
PDF-3/
PDF-4/

# ZIP files
*.zip

# Python type checker
.mypy_cache/
.pyre/

# Ruff
.ruff_cache/

# PyInstaller
*.spec